---
// Also, you can import multiple files with Astro.glob
const FooterData = await Astro.glob('../content/layout/footer/*.md');

interface FooterData {
	title: string,
	url: string,
	logo: 'string'
}


---

<footer>
	&copy; YOUR NAME HERE. All rights reserved.
	{FooterData.map((brand) => (
		<li>
			<p>{brand.frontmatter.title}</p>
		</li>
	))}
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
